{% use 'bootstrap_3_horizontal_layout.html.twig' %}


{% block form_errors %}
    {% if errors|length > 0 %}
        <div class="alert alert-danger col-md-offset-2 col-md-10">
            <ul class="list-unstyled">
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock form_errors %}

{% block form_label_class -%}
{%- endblock form_label_class %}