{% extends ':default/site/new:default.html.twig' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">{{ 'breadcrumbs.home' | trans }}</a></li>
        <li><a href="{{ path('new-wiki') }}">{{ 'breadcrumbs.site.new.wiki' | trans }}</a></li>
    </ol>
{% endblock %}

{% block suffix %}.frama.wiki{% endblock %}
{% block type %}wiki{% endblock %}

{% block fields %}
    <div class="form-group" data-intro="{{ 'help.site.new.admin.email' | trans }}">
        {{ form_errors(form.siteUsers.email) }}
        {{ form_label(form.siteUsers.email) }}
        <div class="col-sm-10">
            {{ form_widget(form.siteUsers.email) }}
        </div>
    </div>

    <div class="form-group" data-intro="{{ 'help.site.new.admin.username' | trans }}">
        {{ form_errors(form.siteUsers.username) }}
        {{ form_label(form.siteUsers.username) }}
        <div class="col-sm-10">
            {{ form_widget(form.siteUsers.username,  {'attr': {'pattern': "^[a-z0-9]+$"}}) }}
            <small class="help-block">{{ 'site.new.info.lowercase_username' | trans }}</small>
        </div>
    </div>
    {{ parent() }}
{% endblock %}
{% block informations %}
    <div class="form-group">
        {{ form_errors(form.policy) }}
        {{ form_label(form.policy) }}
        <div class="col-sm-10">
            {{ form_widget(form.policy) }}
            <small class="help-block">{{ 'site.new.info.optional' | trans }}</small>
        </div>
    </div>
{% endblock informations %}

