{% extends 'base.html.twig' %}

{% block content %}
    <div class="uk-flex uk-flex-center">
        <div class="uk-card uk-card-default uk-width-1-2@m">
            <div class="uk-card-header">
                <h3 class="uk-card-title">{{ user.username }}</h3>
                <small>{{ user.email }}</small>
            </div>
            <div class="uk-card-body">
                <h4>Sites</h4>
                <ul>
                    {% for site in user.sites %}
                    <li>{{ site.subdomain }}.frama.{% spaceless %}{% if site is blog %}site{% elseif site is wiki %}wiki{% endif %}{% endspaceless %}</li>
                    {% endfor %}
                </ul>
                <h4>Domains</h4>
                <ul>
                    {% for domain in user.domains %}
                        <li>{{ domain.domainName }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="uk-card-footer">
                <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary">Edit</a>
            </div>
        </div>
    </div>
{% endblock %}