<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Framasite{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Framasite est un service libre de création de sites web">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://frama.site">
    <meta property="og:title" content="Framasite">
    <meta property="og:image" content="{{ asset('img/site-diaporama-creation02.png') }}">
    <meta property="og:description" content="Framasite est un service libre de création de sites web">
    <meta property="og:site_name" content="Framasite">
    <meta property="og:locale" content="fr_FR">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@framasoft">
    <meta name="twitter:url" content="https://frama.site">
    <meta name="twitter:title" content="Framasite">
    <meta name="twitter:description" content="Framasite est un service libre de création de sites web">
    <meta name="twitter:image" content="{{ asset('img/site-diaporama-creation02.png') }}">

    {% block stylesheets %}
        <link href="https://framasoft.org/nav/css/frama.css" media="all" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('introjs.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
    {% endblock %}
    <script src="{{ asset('build/app.js') }}"></script>
    <script src="{{ asset('intro.min.js') }}"></script>
</head>
<body>
<script src="https://framasoft.org/nav/nav.js" type="text/javascript"></script>
<div class="uk-container ombre home">
    <header>
        <div class="uk-grid uk-flex uk-flex-between">
            <div>
                <h1 class="big-title"><a href="/"><b class="violet">Frama</b><b class="vert">site</b></a></h1>
                <p class="lead">{{ 'index.create_web_site' | trans }}</p>
            </div>
            {% if app.user %}
            <div class="uk-grid uk-flex uk-flex-right uk-flex-middle uk-grid-small">
                {% if app.request.get('_route') != 'homepage' %}
                    <div>
                        <a href="{{ path('homepage') }}" class="btn btn-default"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{ 'index.home.title' | trans }}</a>
                    </div>
                {% endif %}
                {% if app.request.get('_route') in ['new-blog', 'homepage', 'site-view', 'new-site', 'new-wiki'] %}
                <div>
                    <a href="#" class="btn btn-default help_button"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{ 'help.title' | trans }}</a>
                </div>
                {% endif %}
                <div>
                    <a class="btn btn-default" href="{{ path('settings') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ 'settings.title' | trans }}</a>
                </div>
                <div>
                    <a class="btn btn-default" href="#" data-toggle="modal" data-target="#feedback-modal"><i class="fa fa-comments-o" aria-hidden="true"></i>
                        {{ 'feedback.title' | trans }}</a>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                <div>
                        <a class="btn btn-primary" href="{{ path('admin-index') }}"><i class="fa fa-cog" aria-hidden="true"></i>
                            {{ 'admin.title' | trans }}</a>
                </div>
                {% endif %}
                <div>
                    <a class="btn btn-danger" href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> {{ 'layout.logout' | trans({}, 'FOSUserBundle') }}</a>
                </div>
            </div>
            {% endif %}
        </div>
    </header>
    {% block messages %}
        {% for label, messages in app.flashes(['success', 'warning', 'danger', 'info']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}
    {% if env.buy_domains and (env.test_gandi == 'test' or env.test_stripe == 'test') %}
        <div class="alert alert-warning">
            CECI EST UN ENVIRONNEMENT DE TEST !
        </div>
    {% endif %}
    {% if app.user and env.buy_domains and (env.test_gandi == 'test' or env.test_stripe == 'test') %}
            {% if env.test_gandi == 'test' and env.test_stripe == 'test' %}
                <div class="alert alert-warning">
                L'environnement de Gandi et de Stripe sont tous les deux en mode test : aucun achat de domaine ni paiement ne sera effectué pour de vrai.<br />
                Les numéros de CB test pour les paiement sont disponibles <a href="https://stripe.com/docs/testing#cards">ici</a>.
                </div>
            {% elseif env.test_gandi == 'test' %}
                <div class="alert alert-danger">
                    Gandi est en environnement de test, mais Stripe est en environnement de production : les paiements seront effectués mais les domaines ne seront pas créés ! Cela n'est probablement pas ce qui est voulu.
                </div>
            {% elseif env.test_stripe == 'test' %}
                <div class="alert alert-warning">
                    Stripe est en environnement de test, mais Gandi est en environnement de production : les paiements ne seront pas appliqués mais les domaines seront bien créés, en prélevant dans le compte prépayé Gandi.<br />
                    Les numéros de CB test pour les paiement sont disponibles <a href="https://stripe.com/docs/testing#cards">ici</a>.
                </div>
            {% endif %}
    {% endif %}
    {% block content %}
    {% endblock %}
    <div class="modal fade" id="feedback-modal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="feedbackModalLabel">{{ 'feedback.title' | trans }}</h4>
                </div>
                <div class="modal-body">
                    {{ 'feedback.body.choice' | trans | raw }}
                    <div class="list-group">
                        <a href="https://framagit.org/framasoft/framasite/issues" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-warning">
                            <h4 class="list-group-item-heading">{{ 'feedback.body.one.title' | trans }}</h4>
                            <p class="list-group-item-text">{{ 'feedback.body.one.desc' | trans }}</p>
                        </a>
                        <a href="https://contact.framasoft.org/#framasite" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-success">
                            <h4 class="list-group-item-heading">{{ 'feedback.body.two.title' | trans }}</h4>
                            <p class="list-group-item-text">{{ 'feedback.body.two.desc' | trans }}</p>
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'feedback.close' | trans }}</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(() => {
            introJs().addHints().setOption("hintButtonLabel", "OK");
            $('.help_button').on('click', function () {
                introJs().setOptions({
                    prevLabel: '{{ 'help.introjs.prev' | trans }}',
                    nextLabel: '{{ 'help.introjs.next' | trans }}',
                    skipLabel: '&times;',
                    doneLabel: '&times;',
                    scrollTo: 'tooltip',
                    highlightClass: 'hidden',
                    tooltipClass: 'introjs-lg',
                    showBullets: false,
                }).onexit(function() {
                    $('html, body').animate({
                        scrollTop: 0
                    }, 1);
                }).start();
            });
            /**
             * IntroJS fix
             */
            $('.introjs-tooltiptext').before($('.introjs-tooltipbuttons'));
        });
    </script>
</div>
</body>
</html>
