{% extends 'base.html.twig' %}

{% block content %}

    <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3>Environnement</h3>
                <ul class="uk-list">
                    <li>MangoPay : {{ stripe_mode }}</li>
                    <li>Gandi : {{ gandi_mode }}</li>
                </ul>
            </div>
        </div>
    </div>

    <h2>Framasites</h2>
    <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
        <div>
            <a href="{{ path('user_index') }}">
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title">Utilisateurs de Framasites</h3>
                    <p>Liste des utilisateurs de Framasites. Permet de voir la liste, rechercher, éditer et supprimer des utilisateurs</p>
                </div>
            </a>
        </div>
        <div>
            <a href="{{ path('admin-list-sites') }}">
                <div class="uk-card uk-card-primary uk-card-body">
                    <h3 class="uk-card-title">Sites</h3>
                    <p>Liste des sites créés</p>
                </div>
            </a>
        </div>
        <div>
            <a href="{{ path('admin-list-domain') }}">
                <div class="uk-card uk-card-secondary uk-card-body">
                    <h3 class="uk-card-title">Domaines</h3>
                    <p>Liste des domaines, chez Gandi ou non</p>
                </div>
            </a>
        </div>
    </div>

    <h2>Gandi</h2>
    <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
        <div>
            <a href="{{ path('admin-list-contacts') }}">
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title">Contacts Gandi</h3>
                    <p>Liste des contacts Gandi. Ne permet de rien faire sauf de voir la liste.</p>
                </div>
            </a>
        </div>
        <div>
            <a href="{{ path('admin-list-zone') }}">
                <div class="uk-card uk-card-primary uk-card-body">
                    <h3 class="uk-card-title">Zones Gandi</h3>
                    <p>Liste des zones pour les domaines Gandi. Permet de créer et d'éditer des zones</p>
                </div>
            </a>
        </div>
        <div>
            <a href="{{ path('admin-operation-list') }}">
                <div class="uk-card uk-card-secondary uk-card-body">
                    <h3 class="uk-card-title">Opérations Gandi</h3>
                    <p>Liste des opérations en cours et passées.</p>
                </div>
            </a>
        </div>
    </div>

    <h2>MangoPay</h2>
    <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
        <div>
            <a href="{{ path('admin-list-commands') }}">
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title">Paiements</h3>
                    <p>Liste des commandes effectuées</p>
                </div>
            </a>
        </div>
    </div>
{% endblock %}