{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <div class="uk-card-body">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

        <div class="form-group">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>

        <div class="form-group">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" class="form-control" id="password" name="_password" required="required" />
        </div>

        <div class="checkbox">
            <label for="remember_me">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}
            </label>
        </div>
        <a href="{{ path('fos_user_resetting_request') }}" class="btn">{{ 'resetting.request.submit' | trans }}</a>
    </div>

    {% if registration_enabled is defined and registration_enabled %}
        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-info">{{ 'registration.submit' | trans }}</a>
    {% endif %}
    <input type="submit" id="_submit" name="_submit" class="btn btn-success pull-right" value="{{ 'security.login.submit'|trans }}" />

    {% if registration_enabled is defined and not registration_enabled %}
        <div class="alert alert-info">
            {{ 'index.registration.disabled' | trans({}, 'messages') }}
        </div>
    {% endif %}
</form>