{% extends 'base.html.twig' %}

{% block content %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_errors(form.debitedWalletId) }}
        {{ form_label(form.debitedWalletId) }}
        <div class="col-sm-5">
            {{ form_widget(form.debitedWalletId) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_errors(form.bankAccountId) }}
        {{ form_label(form.bankAccountId) }}
        <div class="col-sm-5">
            {{ form_widget(form.bankAccountId) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_errors(form.debitedFunds) }}
        {{ form_label(form.debitedFunds) }}
        <div class="col-sm-5">
            {{ form_widget(form.debitedFunds) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_errors(form.reference) }}
        {{ form_label(form.reference) }}
        <div class="col-sm-5">
            {{ form_widget(form.reference) }}
        </div>
    </div>

    <div class="pull-right">
        <a href="{{ path('admin-stripe') }}" class="btn btn-default">{{ 'mailbox.new.cancel' | trans }}</a>
        {{ form_widget(form.submit) }}
    </div>
    {{ form_rest(form) }}
{% endblock %}