{% extends 'base.html.twig' %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">{{ 'breadcrumbs.home' | trans }}</a></li>
        <li><a href="{{ path('domain') }}">{{ 'breadcrumbs.domains.title' | trans }}</a></li>
        <li><a href="{{ path('attach-domain') }}">{{ 'breadcrumbs.domains.attach_existing' | trans }}</a></li>
    </ol>
    <div class="uk-flex uk-align-center domain-attach" uk-grid>
        <div class="uk-width-expand uk-card uk-card-default uk-padding-large uk-margin-bottom">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <h2>{{ 'domain.attach.title' | trans }}</h2>
        <div class="row">
            <div class="alert alert-info col-sm-offset-3 col-sm-6" role="alert">
                {{ 'domain.attach.instructions' | trans({'%ipv4%': ip.v4, '%ipv6%': ip.v6, '%cname_site%': 'frama.site', '%cname_wiki%': 'frama.wiki'}) | raw }}
            </div>
        </div>
        <div class="form-group">
            {{ form_errors(form.domainName) }}
            {{ form_label(form.domainName) }}
            <div class="col-sm-6">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                    </span>
                    {{ form_widget(form.domainName) }}
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" id="check_dns_config">{{ 'domain.attach.check.button' | trans }}</button>
                    </span>
                </div>
            </div>
            <div class="alert alert-success hidden success col-sm-offset-3 col-sm-6" role="alert">
                {{ 'domain.attach.check.success' | trans }}
            </div>
            <div class="alert alert-danger hidden failure col-sm-offset-3 col-sm-6" role="alert">
                {{ 'domain.attach.check.failure' | trans }}
            </div>
        </div>
        <div class="hidden" id="site_to_attach">
            <h3>{{ 'domain.attach.site.title' | trans }}</h3>
                <div class="form-group">
                    {{ form_errors(form.site) }}
                    {{ form_label(form.site) }}
                    <div class="col-sm-6">
                        {{ form_widget(form.site) }}
                    </div>
                </div>
        </div>

        <div class="uk-flex uk-flex-center">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-lg hidden success'}}) }}
        </div>
        {{ form_rest(form) }}
        </div>
    </div>
{% endblock %}
